@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16rem;
  line-height: 1.5;
  color: #333;
  background-color: #9cadce;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100rem;
  margin: 0 auto;
  padding: 0 30rem;
}

.logo {
  font-weight: bold;
  font-size: 25rem;
}

.tech-icon {
  width: 22rem;
  height: auto;
}

.navbar {
  height: 100rem;
  /* border: 1px solid black; */
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 20rem;
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.nav a::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.25s ease-out;
}

.nav a:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.navbar ul {
  display: flex;
  gap: 40rem;
  padding: 10rem;
  font-weight: bold;
}

.header .container {
  display: flex;
  flex: 1;
  padding: 0 50rem;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 1;
}

.header .intro {
  text-align: center;
  padding: 100rem;
}

.about-photo img {
  width: 250rem;
  height: auto;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .header .intro {
    padding: 0;
    margin-top: 20rem;
  }

  .about .container {
    flex-direction: column;
    gap: 20rem;
  }

  .about-photo {
    order: 1;
  }

  .about-text {
    order: 2;
  }
}
