---
import { getCollection } from "astro:content";
import { slugify } from "../utils";
import ContentListItem from "./ContentListItem.astro";
const guides = await getCollection("guides");
---

{
  guides.length > 0 && (
    <section id="guides" class="mt-14 mb-4 space-y-2">
      <h2 class="font-semibold text-muted-foreground">Guides</h2>
      <ul class="flex flex-col gap-4">
        {guides
          .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
          .map((guide) => (
            <ContentListItem
              title={guide.data.title}
              description={guide.data.description}
              pubDate={guide.data.pubDate}
              href={`/guides/${slugify(guide.data.title)}`}
            />
          ))}
      </ul>
    </section>
  )
}
